<% if (!user) { %>
<style>
  .myDiv {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    background: lightcoral;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    
  }
</style>

<div class="myDiv">
  <h1>
    Welcome! Please Login!

    <a href="/login">
      <button>LOGIN</button>
    </a>
  </h1>
</div>

<% } else { %>
<p>
  Hello, <%= user.username %>. View your <a href="/profile">Dashboard</a> or
  <a href="/logout">logout</a>.
</p>
<% } %>
